<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Majorya RPG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Índice de Majorya RPG</h1>
    </header>
    <main>
        <h2>Capítulos</h2>
        <ul>
            {% for chapter in chapters %}
                <li><a href="{{ url_for('chapter_view', chapter_name=chapter) }}">{{ chapter.replace('_', ' ') }}</a></li>
            {% endfor %}
        </ul>
        <div class="print-button-container">
            <a href="{{ url_for('print_book') }}" class="button">Imprimir Livro Completo</a>
        </div>
    </main>
    <footer>
        <p>Majorya RPG - Clube de RPG 2025</p>
    </footer>
</body>
</html>
